# Środowisko wirtualne
venv/
.venv/
env/

# Python - pliki skompilowane
__pycache__/
*.py[cod]

# Baza danych (opcjonalnie, jeśli chcesz mieć czystą bazę na GitHubie)
db.sqlite3

# Pliki środowiskowe (z hasłami/kluczami)
.env

# Ignoruj wszystkie pliki migracji
**/migrations/*.py
# Ale nie ignoruj plików __init__.py (potrzebne, by folder był pakietem)
!**/migrations/__init__.py
