# Środowisko wirtualne
venv/
.venv/
env/

# Python - pliki skompilowane
__pycache__/
*.py[cod]

# Baza danych (opcjonalnie, jeśli chcesz mieć czystą bazę na GitHubie)
db.sqlite3

# Pliki środowiskowe (z hasłami/kluczami)
.env